<h1 class="mt-4">Dashboard</h1>
<h2 class="lead mb-3">Welcome <span style="color: #fff"><%= firstname %></span></h2>
<h1>The <span style="color: #df5799">Strive </span>site is under construction.<br> Check back soon!!!!</h1>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
