<% include partials/header %>

<div class="top-buttons">
<a href="/users/login"  class="active">Sign In</a><a href="/users/signup">Sign Up</a>
</div>
<h1>Sign In & Sign Up Form</h1>
<div class="main">
<!--form-stars-here-->
		<div class="form">
			<h2 class="signin">Sign In</h2>
      <% include partials/messages %>
			<form action="/users/login" method="post">
					<input type="email" name="email" placeholder="Email" required="" />
					<input type="password" name="password" placeholder="Password" required="" />
					<a href="#" class="forgot">Forgot Password ?</a>
				<div class="submit">
					<input type="submit" value="Sign in">
				</div>
				<p class="bottom"><a href="/users/signup">Sign Up here</a>if u do not have an account yet.</p>
			</form>
		</div>
		</div>
<!--//form-ends-here-->

      <% include partials/header %>
