
    

  <!-- Start your project here-->
  <div class="top-buttons">
        <h1>Welcome to <span style="color: #df5799">Strive</span></h1>
        <h3 class="sub-header">You should not settle for less in life</h3>
        <h3 class="sub-header">Sign up and let us show you how to <em style="color: #df5799">Strive for greatness</em></h3>
  </div>
  <span class="navbar-text white-text">
      <div class="top-buttons-header">
        <a href="/users/login" class="active" >Sign In</a><a href="/users/signup" class="active">Sign Up</a>
      </div>
    </span>

        
